.btn {
    @apply rounded-sm border cursor-pointer;
    transition: 0.15s ease-in-out;
}

.btn-black {
    @apply bg-[#262B3A] border-[#262B3A] text-white;
}

.btn-transparent {
    border-color: rgba(255, 255, 255, 0.1);
    @apply md:bg-transparent bg-white md:text-white text-[#1462D6] md:hover:bg-white;
}


.btn-transparent span {
    @apply !bg-[#1462D6] md:!bg-white/10;
}

.btn-transparent:hover {
    background: rgba(255, 255, 255, 0.1);
}

.btn-arrow {
    @apply flex gap-2.5 items-center pr-1 pl-4.5;
}

.btn-arrow span {
    @apply p-4 bg-white/10 rounded-sm cursor-pointer;
}

.btn-white {
    @apply bg-white text-[#1462D6] border-white;
}

.btn-white svg {
    fill: #1462d6;
}

.btn-white:hover svg {
    fill: white;
}

.btn-white:hover {
    @apply bg-[#1462D6] !text-white !border-transparent;
}

.btn-blue {
    @apply bg-[#1462D6] !text-white border-transparent;
}

.btn-bluewhite {
    @apply bg-white !text-[#1462D6] border-transparent;
}

.btn-bluewhite:hover {
    @apply bg-[#1462D6] !text-white border-transparent;
}


.btn-bluewhite.btn-arrow span {
    @apply bg-[#1462D6];
}

.btn-blue:hover {
    @apply bg-white border-[#1462D6] !text-[#1462D6];
}

.btn-blue.btn-arrow:hover span {
    @apply bg-[#1462D6];
}

.btn-dd {
    @apply bg-transparent h-auto focus:ring-0;
}

.btn-dd ul {
    @apply !bg-white rounded-sm;
}

.btn-dd ul button {
    @apply !bg-white text-black py-3 hover:!bg-slate-100;
    transition: 0.15s ease-in-out;
}
