* {
    font-family: "Golos Text", sans-serif;
}

#main {
    @apply bg-[#E6E9EE] min-h-screen p-5;
}

#main_header {
    min-height: 880px;
}

.graident-main {
    background: linear-gradient(
        204.33deg,
        rgb(20, 98, 214) -21.89%,
        rgb(144, 107, 255) 80.167%
    );
}

.graident-main2 {
    background: linear-gradient(
        100.36deg,
        rgb(20, 98, 214) -56.778%,
        rgb(144, 107, 255) 77.412%
    );
}

.nav-link {
    @apply py-2.5 px-3.5 text-white cursor-pointer rounded-sm;
    transition: 0.15s ease-in-out;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.card {
    @apply bg-white w-full rounded-xl p-7 flex flex-col relative cursor-pointer overflow-hidden;
    transition: 0.15s ease-in-out;
    transition-delay: 0.25s;
    max-width: 410px;
    min-height: 380px;
}

.card::after {
    content: "";
    @apply absolute z-10 rounded-xl h-1/4 bottom-0 left-1/2 -translate-1/2 translate-y-1/2 w-20 bg-white opacity-50;
}

.card-text {
    position: absolute;
    bottom: calc(30px - 66px - 16px);
    transition: 0.3s ease-in;
    font-size: 14px;
}

.card-hidden-text {
    opacity: 0;
    height: 66px;
    transition: opacity 0.5s ease-out;
    margin-top: 16px;
}

.card:hover .card-text {
    bottom: calc(100% - 30px - 30px - 28px - 66px - 16px);
}

.card:hover .card-hidden-text {
    opacity: 1;
}

.card:hover .card-image {
    @apply absolute w-60 -bottom-5 z-20 left-1/2 -translate-x-1/2;
    animation: fadeOutIn 0.5s ease-in-out;
}

.card::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 12px;
    bottom: 0;
    left: 50%;
    translate: -50% 20px;
    width: 75%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.solution {
    @apply relative flex flex-col max-w-[550px] w-full py-8 pl-12 pr-8 rounded-md transition-all text-white;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.15) 100%
    );
}

.solution img {
    fill: white;
}

.solution:hover {
    @apply bg-white text-[#262B3A];
}

.solution:hover img {
    fill: #1462d6;
}

.solution:hover .btn {
    @apply bg-[#1462D6] !text-white !border-transparent;
}

.solution:hover .btn:hover {
    @apply bg-[#1462D6]/80;
}

.solution::before {
    content: "";
    display: block;
    @apply absolute w-2 h-6 left-0 top-8 bg-white rounded-tr-sm rounded-br-sm;
}

.mask-side-notches {
    mask-image: url("/file.svg");
    mask-repeat: no-repeat;
    mask-position: left center;
    mask-size: ;

    -webkit-mask-image: url("/file.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left center;
    -webkit-mask-size: contain;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.filter-tab {
    @apply flex-1 bg-white py-4 rounded-md hover:bg-[#1462D6] hover:text-white cursor-pointer;
}

.slide {
    @apply pt-8 pl-8 w-full flex gap-8 rounded-xl bg-white;
}
