* {
    font-family: "Golos Text", sans-serif;
    scroll-behavior: smooth;
}

#main {
    @apply bg-[#E6E9EE] min-h-screen p-2 sm:p-5;
}

.graident-main {
    background: linear-gradient(
        290.33deg,
        rgb(20, 98, 214) -21.89%,
        rgb(144, 107, 255) 80.167%
    );
}

.graident-main3 {
    background: linear-gradient(
        220.33deg,
        rgb(20, 98, 214) -21.89%,
        rgb(144, 107, 255) 70.167%
    );
}

.graident-main2 {   
    background: linear-gradient(
        90deg,
        rgb(20, 98, 214) -56.778%,
        rgb(144, 107, 255) 77.412%
    );
}

.nav-link {
    @apply py-1.5 md:py-3.5 px-0 md:px-4.5 text-white cursor-pointer rounded-sm text-xl font-semibold md:font-normal md:text-sm 2xl:text-base;
    transition: 0.15s ease-in-out;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.card {
    @apply pointer-events-none overflow-hidden xl:pointer-events-auto bg-white w-full rounded-xl p-7 flex flex-col relative cursor-pointer;
    transition: 0.15s ease-in-out;
    transition-delay: 0.25s;
    max-width: 410px;
    min-height: 380px;
}

.card::after {
    content: "";
    @apply absolute z-50 rounded-b-lg h-[20px] -bottom-[10px] left-1/2 -translate-1/2 translate-y-1/2 w-[80%] bg-white/50;
}

.card-text {
    @apply top-[28px] xl:top-auto;
    position: absolute;
    bottom: calc(30px - 66px - 16px);
    transition: 0.3s ease-in;
    font-size: 14px;
}

.card-hidden-text {
    @apply opacity-100 xl:opacity-0;
    height: 66px;
    transition: opacity 0.5s ease-out;
    margin-top: 16px;
}

.card:hover .card-text {
    bottom: calc(100% - 30px - 30px - 28px - 66px - 16px);
}

.card:hover .card-hidden-text {
    opacity: 1;
}

.card .card-image {
    @apply absolute w-80 xl:w-18 -bottom-10 xl:bottom-auto;
}

.card:hover .card-image {
    @apply xl:w-80 2xl:w-90 -bottom-10 2xl:-bottom-15 z-20 left-1/2;
    animation: fadeOutIn 0.5s ease-in-out;
    translate: -50% 0%;
}

.bg-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.solution {
    @apply pointer-events-none md:pointer-events-auto relative flex flex-col max-w-[550px] w-full pt-12 sm:pt-16 pb-8 md:py-8 pl-8 md:pl-12 pr-4 md:pr-8 rounded-md transition-all text-white min-w-[350px] lg:min-w-[400px];
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.15) 100%
    );
}

.solution svg {
    fill: white;
}

.solution:hover {
    @apply bg-white text-[#262B3A];
}

.solution:hover svg {
    fill: #1462d6;
}

.solution:hover .btn {
    @apply bg-[#1462D6] !text-white !border-transparent;
}

.solution:hover .btn:hover {
    @apply bg-[#1462D6]/80;
}

.solution::before {
    content: "";
    display: block;
    @apply absolute w-1.5 h-8 left-0 top-24 md:top-8 bg-white rounded-tr-md rounded-br-md;
}

.mask-side-notches {
    mask-image: url("/file-mob.svg");
    mask-repeat: no-repeat;
    mask-position: left center;

    -webkit-mask-image: url("/file-mob.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top center;
    -webkit-mask-size: cover;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.mask-review-slide {
    mask-image: url("/review-slide.svg");
    mask-repeat: no-repeat;
    mask-position: left center;

    -webkit-mask-image: url("/review-slide.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom right;
    -webkit-mask-size: cover;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.review-slide .play {
    @apply transition-all;
}

.review-slide:hover .play {
    @apply opacity-100;
}

@media ((width <= 48rem)) {
    .mask-mob-header {
        mask-image: url("/mob-header.svg");
        mask-repeat: no-repeat;
        mask-position: right center;

        -webkit-mask-image: url("/mob-header.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top right;
        -webkit-mask-size: cover;

        /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
        -webkit-mask-type: luminance;
        mask-type: luminance;
    }
}

.mask-side-file-top {
    mask-image: url("/file-top-mob.svg") !important;
    mask-repeat: no-repeat;
    mask-position: top left;

    -webkit-mask-image: url("/file-top-mob.svg") !important;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top left;
    -webkit-mask-size: cover;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.mask-card {
    mask-image: url("/card.svg");
    mask-repeat: no-repeat;
    mask-position: top top;

    -webkit-mask-image: url("/card.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom right;
    -webkit-mask-size: cover;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.mask-card {
    mask-image: url("/slide-top-mob.svg");
    mask-repeat: no-repeat;
    mask-position: top top;

    -webkit-mask-image: url("/slide-top-mob.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top right;
    -webkit-mask-size: cover;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.functionality-card {
    mask-image: url("/functionality-card.svg");
    mask-repeat: no-repeat;
    mask-position: top top;

    -webkit-mask-image: url("/functionality-card.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top right;
    -webkit-mask-size: cover;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.filter-tab {
    @apply text-sm md:text-base flex-1 min-w-[250px] md:w-fit bg-white py-4 rounded-md hover:bg-[#1462D6] hover:text-white cursor-pointer transition-all;
}

.filter-tab_active {
    @apply bg-[#1462D6] text-white;
}

.blog-filter {
    @apply hover:bg-[#1462D6] hover:text-white;
}
.blog-filter span {
    @apply text-[#1462D6];
}

.blog-filter:hover span {
    @apply !text-white;
}

.slide {
    @apply md:pt-8 md:pl-8 w-full flex gap-8 rounded-xl bg-white;
}

.circle {
    position: absolute;
    /* filter: blur(300px); */
    background: #908cf5;
    width: 2000px;
    height: 1500px;
    border-radius: 50%;

    /* -webkit-filter: blur(450px); */

    translate: -50% -80%;
    left: 50%;
    top: 0;
}

.input,
.textarea {
    @apply bg-white rounded-lg text-[#262B3A] p-5 placeholder:text-[#1D2230] w-full transition-all focus:outline-[#1462d6];
}

.mask-goal {
    mask-image: url("/goal-mob.svg");
    mask-repeat: no-repeat;
    mask-position: top top;

    -webkit-mask-image: url("/goal-mob.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top center;
    -webkit-mask-size: cover;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.mask-case {
    mask-image: url("/case-bg-mob.svg");
    mask-repeat: no-repeat;
    mask-position: top top;

    -webkit-mask-image: url("/case-bg-mob.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: bottom right;
    -webkit-mask-size: cover;

    /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
    -webkit-mask-type: luminance;
    mask-type: luminance;
}

.textarea {
    @apply min-h-[180px];
}

.form-control {
    @apply w-full;
}

#func-slider .swiper-wrapper {
    @apply pb-1 md:pb-6;
}
.maingoals-slide {
    @apply cursor-pointer;
}

.maingoals-slide::after {
    content: "";
    border-radius: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            208.15deg,
            rgb(20, 98, 214) -72.208%,
            rgb(144, 107, 255) 104.667%
        ),
        rgb(38, 43, 58);
    display: block;
    z-index: 20;
    opacity: 0;
    @apply transition-all;
    /* pointer-events: none; */
}

.maingoalsdonut {
    opacity: 0%;
}

.maingoals-slide:hover::after {
    opacity: 100;
}
.maingoals-slide:hover p {
    color: white !important;
}

.maingoals-slide:hover .maingoalsdonut {
    opacity: 20% !important;
}

.functionality-slide:hover .slide-bg {
    @apply opacity-100;
}
.functionality-slide:hover .icon {
    @apply bg-[#1462D6];
}

.achivements-card {
    @apply bg-white w-full p-6;
}

@media (width >= 96rem) {
    /* body {
        zoom: 1!important;
    } */
}

@media (width >= 80rem) {
    .container {
        max-width: 100%;
    }
    /* body {
        zoom: 0.7;
    } */
    /* abc */
}
@media (width >= 48rem) {
    .container {
        max-width: 100%;
    }

    .card-image {
        @apply static w-18 translate-0;
    }

    .mask-side-file-top {
        mask-image: url("/file-top.svg") !important;
        mask-repeat: no-repeat;
        mask-position: top left;

        -webkit-mask-image: url("/file-top.svg") !important;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top left;
        -webkit-mask-size: cover;

        /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
        -webkit-mask-type: luminance;
        mask-type: luminance;
    }

    .mask-case {
        mask-image: url("/case-bg.svg");
        mask-repeat: no-repeat;
        mask-position: top top;

        -webkit-mask-image: url("/case-bg.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: bottom right;
        -webkit-mask-size: cover;

        /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
        -webkit-mask-type: luminance;
        mask-type: luminance;
    }

    .mask-goal {
        mask-image: url("/goal.svg");
        mask-repeat: no-repeat;
        mask-position: top top;

        -webkit-mask-image: url("/goal.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top center;
        -webkit-mask-size: cover;

        /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
        -webkit-mask-type: luminance;
        mask-type: luminance;
    }

    .mask-side-notches {
        mask-image: url("/file.svg");
        mask-repeat: no-repeat;
        mask-position: left center;

        -webkit-mask-image: url("/file.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: left center;
        -webkit-mask-size: contain;

        /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
        -webkit-mask-type: luminance;
        mask-type: luminance;
    }

    .mask-card {
        mask-image: url("/slide-top.svg");
        mask-repeat: no-repeat;
        mask-position: top top;

        -webkit-mask-image: url("/slide-top.svg");
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: top right;
        -webkit-mask-size: cover;

        /* FIX: treat mask as a sharp cutoff based on brightness or alpha */
        -webkit-mask-type: luminance;
        mask-type: luminance;
    }

    .blogpage .mask-case {
        mask-image: none !important;
        border-radius: 20px;
    }

    .achivements-card {
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0),
            rgb(255, 255, 255) 100%
        );
        @apply hover:bg-white;
    }

    .circle {
        position: absolute;
        /* filter: blur(450px); */
        background: linear-gradient(
            -55.43deg,
            rgb(20, 98, 214) 8.857%,
            rgb(144, 107, 255) 73.909%
        );
        width: 1500px;
        height: 1500px;

        /* -webkit-filter: blur(450px); */
    }

    #header_corner_1::before {
        box-shadow: 0px 0px 0px 10px white !important;
    }

    #header_corner_2::before {
        box-shadow: 0px 0px 0px 10px white !important;
    }

    .modal-sh {
        box-shadow: none !important;
    }

    html body #cta.mask-side-file-top {
        mask-image: url("/file-top.svg") !important;
        border-radius: 20px;
    }

    #cta {
        background: white !important;
    }

    #tech .graident-main {
        background: linear-gradient(
            280deg,
            rgb(20, 98, 214) -21.89%,
            rgb(144, 107, 255) 80.167%
        ) !important;
    }
}
@media (width >= 40rem) {
    .container {
        max-width: 100%;
    }
}

@media (width >= 96rem) {
    .container {
        max-width: 1680px;
    }
}

#cta.mask-side-file-top {
    mask-image: none !important;
    border-radius: 20px;
}

#maingoals_slider .swiper-slide,
#features .swiper-slide,
#article_slider .swiper-slide,
#examples-slider .swiper-slide {
    @apply flex justify-center;
}

#article_slider {
    overflow: visible;
}

.blog #burger {
    @apply !-top-8 !-right-7;
}

[data-testid="flowbite-dropdown"] {
    @apply !z-[100];
}

#main_header #burger {
    @apply -top-8 -right-4;
}

.cases #burger {
    @apply !-top-8 !-right-7;
}

.blogpage #burger {
    @apply !-top-8 !-right-7;
}

.case #burger {
    @apply !-top-8 !-right-7;
}

.header-container {
    @apply w-full 2xl:max-w-[1700px];
}

#features_slider {
    @apply pb-5 md:pb-15;
}

#header_corner_1::before {
    box-shadow: 0px 0px 0px 10px #e6e9ee !important;
}

#header_corner_2::before {
    box-shadow: 0px 0px 0px 10px #e6e9ee !important;
}

.modal-sh {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

#maingoals_slider {
    @apply pt-4;
}

#cta {
    background: linear-gradient(
        180deg,
        #8280ee 8.852%,
        #9d98f7 15%,
        #b4b2f9 25%,
        #ffffff
    );
}

#tech .graident-main {
    background: linear-gradient(
        0deg,
        rgb(20, 98, 214) -21.89%,
        rgb(144, 107, 255) 80.167%
    );
}

.modal_form .input {
    @apply !py-3 md:!py-5;
}

.modal_form textarea {
    @apply !min-h-[120px];
}


.scrollbar-none::-webkit-scrollbar {
    display: none;
}