.reversed-corner {
    overflow: hidden;
    position: absolute;
}

.reversed-corner::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    display: block;
    width: 200%;
    height: 200%;
    box-shadow: 0px 0px 0px 10px white;
}

#header_corner_1::before {
    bottom: 0;
    left: 0;
}

#header_corner_2::before {
    bottom: 0;
    left: 0;
}

#soluction_corner-1::before {
    top: 0;
    right: 0;
}

#soluction_corner-2::before {
    top: 0;
    right: 0;
    box-shadow: 0px 0px 0px 10px #eff1f5;
}

#slider_corner_1::before {
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 0px 10px #5066EA;
}

#slider_corner_2::before {
    top: 0;
    right: 0;
    box-shadow: 0px 0px 0px 10px #eff1f5;
}

#slider_corner_3::before {
    top: 0;
    right: 0;
    box-shadow: 0px 0px 0px 10px #eff1f5;
}

#review_corner_1::before {
    top: 0;
    left: 0;
    box-shadow: 0px 0px 0px 10px #897469;
}
#review_corner_2::before {
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 0px 10px #ebebeb;
}
#review_corner_3::before {
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 0px 10px #ebebeb;
}

