.reversed-corner {
    overflow: hidden;
    position: absolute;
}

.reversed-corner::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    display: block;
    width: 200%;
    height: 200%;
    box-shadow: 10px 10px 0px 0px white;
}

#header_corner_1::before {
    bottom: 0;
    left: 0;
}

#header_corner_2::before {
    bottom: 0;
    left: 0;
}